# Dependencies
node_modules/

# Environment variables & secrets
.env
.env.*
!.env.example

# OS & Build artifacts
.DS_Store
Thumbs.db
dist/
.vercel
*.log

# Local screenshots & development assets
screenshot/

